* {
    margin: 0px;
    padding: 0px;
}

html {
    background: url(https://images.hdqwalls.com/wallpapers/james-webb-cosmic-cliffs-8k-sb.jpg);
    background-size: cover;
    opacity: 95%;
}

div {
    font-size: 100px;
    color: white;
    display: flex;
    text-shadow: 5px 5px black;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    
    

}
.date{
    font-size: 30px;
    text-shadow: 3px 3px black;
}
.dms{
    height: 50vh;
}
.time {
    flex-direction: row;
    
}